/* VARIABLES AND CLEANERS */
:root {
    --color-primary-strong-cyan: hsl(172, 67%, 45%);
    --color-neutral-very-dark-cyan: hsl(183, 100%, 15%);
    --color-neutral-dark-grayish-cyan: hsl(186, 14%, 43%);
    --color-neutral-light-grayish-cyan: hsl(185, 41%, 84%);
    --color-neutral-very-light-grayish-cyan: hsl(189, 41%, 97%);
    --color-white: hsl(0, 0%, 100%);
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* BODY SETTINGS */
body {
    display: grid;
    height: 100vh;
    min-height: 100vh;
    font-family: "Space Mono", monospace;
    font-size: 62.5%;
    /* 1rem=10px; 10px/16px default size=62.5% */
    line-height: 1.5rem;
    font-weight: 700;
    background-color: var(--color-neutral-light-grayish-cyan);
}
/* MAIN BLOCKS */
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 5rem;
}
.logo {
    width: 100%;
    text-align: center;
    margin-bottom: 5rem;
}
.card {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
    width: 70%;
    padding: 3rem;
    border-radius: 2rem;
}

/* SMALL BLOCKS */
.left {
    width: 50%;
}
.right {
    width: 50%;

    background-color: var(--color-neutral-very-dark-cyan);
}

/* ELEMENTS */

/* MOBILE SETTINGS */
