/* VARIABLES AND CLEANERS */
:root {
    --color-primary-strong-cyan: hsl(172, 67%, 45%);
    --color-neutral-very-dark-cyan: hsl(183, 100%, 15%);
    --color-neutral-dark-grayish-cyan: hsl(186, 14%, 43%);
    --color-neutral-light-grayish-cyan: hsl(185, 41%, 84%);
    --color-neutral-very-light-grayish-cyan: hsl(189, 41%, 97%);
    --color-white: hsl(0, 0%, 100%);
    --color-error: hsl(29, 99%, 42%);
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* BODY SETTINGS */
body {
    display: grid;
    height: 100vh;
    min-height: 100vh;
    font-family: "Space Mono", monospace;
    font-size: 16px;
    line-height: 1.5rem;
    font-weight: 700;
    background-color: var(--color-neutral-light-grayish-cyan);
}
/* MAIN BLOCKS */
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 5rem;
}
.logo {
    width: 100%;
    text-align: center;
    margin-bottom: 4rem;
}
.card {
    display: flex;
    justify-content: space-between;
    background-color: var(--color-white);
    width: 65%;
    padding: 3rem;
    border-radius: 2rem;
}

/* SMALL BLOCKS */
.left {
    width: 50%;
    margin-right: 3rem;
}
.right {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    background-color: var(--color-neutral-very-dark-cyan);
    border-radius: 1rem;
    padding: 3rem;
}
.row {
    display: grid;
    margin-bottom: 2rem;
}

/* ELEMENTS */
.label-text {
    color: var(--color-neutral-dark-grayish-cyan);
    margin-bottom: 0.5rem;
}

.input-number,
#button-custom {
    background-color: var(--color-neutral-very-light-grayish-cyan);
    border: 2px solid var(--color-neutral-very-light-grayish-cyan);
    padding: 0.4rem;
    padding-right: 1rem;
    border-radius: 0.4rem;
    text-align: right;
    font-size: 24px;
    font-weight: inherit;
    color: var(--color-neutral-very-dark-cyan);
    font-family: inherit;
    cursor: pointer;
    outline: none;
}
.input-number:focus,
#button-custom:focus {
    border: 2px solid var(--color-primary-strong-cyan);
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.money {
    background-image: url(https://res.cloudinary.com/kreiva/image/upload/v1649054262/FrontendMentor/icon-dollar_ewwrhe.svg);
    background-repeat: no-repeat;
    background-position: 4% 50%;
}
.person {
    background-image: url(https://res.cloudinary.com/kreiva/image/upload/v1649054262/FrontendMentor/icon-person_duknex.svg);
    background-repeat: no-repeat;
    background-position: 4% 50%;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.button-tip {
    width: 30%;
    cursor: pointer;
    background-color: var(--color-neutral-very-dark-cyan);
    color: var(--color-white);
    border: none;
    border-radius: 0.4rem;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-family: inherit;
    font-size: 24px;
    font-weight: inherit;
}
.button-tip:focus,
.selected {
    background-color: var(--color-primary-strong-cyan);
    color: var(--color-neutral-very-dark-cyan);
}

.amounts-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.5rem;
}
.amounts__label-text {
    color: var(--color-neutral-light-grayish-cyan);
    line-height: 1.2rem;
}
small {
    color: var(--color-neutral-dark-grayish-cyan);
}
.sums {
    color: var(--color-primary-strong-cyan);
    font-size: 34px;
}

#button-reset {
    background-color: var(--color-neutral-dark-grayish-cyan);
    color: var(--color-neutral-very-dark-cyan);
    border: none;
    border-radius: 0.4rem;
    padding: 1rem;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}
#button-reset:hover {
    background-color: var(--color-primary-strong-cyan);
}

.error {
    border: 2px solid var(--color-error);
}
.error-message {
    position: relative;
    display: flex;
    justify-content: end;
    width: 100%;
    color: var(--color-error);
    margin-bottom: -2rem;
}

/* MOBILE SETTINGS */ ;
