/* VARIABLES AND CLEANERS */
:root {
    --color-primary-strong-cyan: hsl(172, 67%, 45%);
    --color-neutral-very-dark-cyan: hsl(183, 100%, 15%);
    --color-neutral-dark-grayish-cyan: hsl(186, 14%, 43%);
    --color-neutral-light-grayish-cyan: hsl(185, 41%, 84%);
    --color-neutral-very-light-grayish-cyan: hsl(189, 41%, 97%);
    --color-white: hsl(0, 0%, 100%);
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* BODY SETTINGS */
body {
    display: grid;
    height: 100vh;
    min-height: 100vh;
    font-family: "Space Mono", monospace;
    font-size: 62.5%;
    /* 1rem=10px; 10px/16px default size=62.5% */
    line-height: 1.5rem;
    font-weight: 700;
    background-color: var(--color-primary-strong-cyan);
}
/* MAIN ELEMENTS */
.wrapper {
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding: 10rem;
}
.logo {
    background-image: url(https://res.cloudinary.com/kreiva/image/upload/v1649054262/FrontendMentor/logo_f9p7ap.svg);
    background-repeat: no-repeat;
    width: 20%;
}
.card {
    width: 70%;
}

/* SMALL ELEMENTS */

/* HELPERS */

/* MOBILE SETTINGS */
